# ==========================================
# RENDER (Backend API & Worker)
# Paste these into your Render Web Service
# ==========================================
MONGO_URI=mongodb+srv://viditpandey06_db_user:password@cluster0...
REDIS_URL=redis://default:password@redis...
REDIS_PREFIX=forge
PORT=3000
WORKER_COUNT=4
WORKER_CONCURRENCY=5
JOB_TIMEOUT_MS=30000
BASE_RETRY_DELAY_MS=1000

# ==========================================
# VERCEL (Frontend Dashboard)
# Paste this into your Vercel Project Settings
# ==========================================
VITE_API_URL=https://forge-api.onrender.com
